<!--<app-chart></app-chart>-->
<div>
  <app-responsive-design-card
    [cardContent]="{
    title: 'Bun with sugar',
    description: 'Delicious bun with sugar',
    imgSrc: 'https://img4.goodfon.com/wallpaper/nbig/9/df/bulochka-koritsa-sakhar.jpg'
   }">
  </app-responsive-design-card>

  <app-responsive-design-card
    [cardContent]="{
    title: 'Круасан',
    description: 'Круасан по французскому рецепту',
    imgSrc: 'https://c4.wallpaperflare.com/wallpaper/230/985/188/assortment-bake-bakery-bread-wallpaper-preview.jpg'
   }">
  </app-responsive-design-card>

  <app-responsive-design-card
    [cardContent]="{
    title: 'Эклер',
    description: 'Пирожное с заварным кремом',
    imgSrc: 'https://pinster.ru/cache/27c1bb3a/av987fad6166ef2de39c3.jpeg'
   }">
  </app-responsive-design-card>
</div>

<div>
  <app-card-with-placeholder [card]="{
    number: '01',
    title: 'Some bakery feature',
    description: 'It is very important to have a good oven ' +
     'at your preparation place whether be a wood fired or an electric oven',
     link: '#'
  }">
  </app-card-with-placeholder>

  <app-card-with-placeholder [card]="{
    number: '02',
    title: 'Another bakery feature',
    description: 'Bread making techniques: There are a number of process differences' +
     'that makes a bread different from another. Additives, sugar and salt content, water' +
      'composition, oil being used',
     link: '#'
  }">
  </app-card-with-placeholder>

  <app-card-with-placeholder [card]="{
    number: '03',
    title: 'Third bakery feature',
    description: 'A good bakery is thst which has fresh baked things for sale' +
     'no one likes stale bread, soogy biscuits and old cakes and pastries. Analyze' +
      ' your daily business and then optimally control the quantity of baked goods.',
     link: '#'
  }">
  </app-card-with-placeholder>
</div>

<div>
  <app-water-wave-text text="Сroissant"></app-water-wave-text>
  <app-water-wave-text text="Булочка" [reverse]="true"></app-water-wave-text>
</div>

<div>
  <app-vertical-opening-tooltip></app-vertical-opening-tooltip>
</div>

<div style="margin-bottom: 80px; margin-left: 80px">
  <app-isometric-box></app-isometric-box>
  <!--  <app-isometric-box></app-isometric-box>-->
</div>

<div style="column-gap: 2%; justify-content: start">
  <app-isometric-icon [data]="{
    link: '#',
    icon: 'fa fa-instagram',
    color: 'orange'
  }">
  </app-isometric-icon>
  <app-isometric-icon [data]="{
    link: '#',
    icon: 'fa fa-linkedin'
  }">
  </app-isometric-icon>
  <app-isometric-icon [data]="{
    link: '#',
    icon: 'fa fa-vk'
  }">
</app-isometric-icon>
  <app-isometric-icon [data]="{
    link: '#',
    icon: 'fa fa-facebook'
  }">
  </app-isometric-icon>
  <app-isometric-icon [data]="{
    link: '#',
    icon: 'fa fa-telegram'
  }">
  </app-isometric-icon>
  <app-isometric-icon [data]="{
    link: '#',
    icon: 'fa fa-github'
  }">
  </app-isometric-icon>
  <app-isometric-icon [data]="{
    link: '#',
    icon: 'fa fa-skype'
  }">
  </app-isometric-icon>
  <app-isometric-icon [data]="{
    link: '#',
    icon: 'fa fa-stack-overflow'
  }">
  </app-isometric-icon>
  <app-isometric-icon [data]="{
    link: '#',
    icon: 'fa fa-twitch'
  }">
  </app-isometric-icon>
  <app-isometric-icon [data]="{
    link: '#',
    icon: 'fa fa-trello'
  }">
  </app-isometric-icon>
  <app-isometric-icon [data]="{
    link: '#',
    icon: 'fa fa-chrome'
  }">
  </app-isometric-icon>
  <app-isometric-icon [data]="{
    link: '#',
    icon: 'fa fa-firefox'
  }">
  </app-isometric-icon>
  <app-isometric-icon [data]="{
    link: '#',
    icon: 'fa fa-codepen'
  }">
  </app-isometric-icon>
  <app-isometric-icon [data]="{
    link: '#',
    icon: 'fa fa-gitlab'
  }">
  </app-isometric-icon>
  <app-isometric-icon [data]="{
    link: '#',
    icon: 'fa fa-google'
  }">
  </app-isometric-icon>
</div>
