<!--<app-chart></app-chart>-->
<div>
  <app-responsive-design-card
    [cardContent]="{
    title: 'Bun with sugar',
    description: 'Delicious bun with sugar',
    imgSrc: 'https://img4.goodfon.com/wallpaper/nbig/9/df/bulochka-koritsa-sakhar.jpg'
   }">
  </app-responsive-design-card>

  <app-responsive-design-card
    [cardContent]="{
    title: 'Круасан',
    description: 'Круасан по французскому рецепту',
    imgSrc: 'https://c4.wallpaperflare.com/wallpaper/230/985/188/assortment-bake-bakery-bread-wallpaper-preview.jpg'
   }">
  </app-responsive-design-card>

  <app-responsive-design-card
    [cardContent]="{
    title: 'Эклер',
    description: 'Пирожное с заварным кремом',
    imgSrc: 'https://pinster.ru/cache/27c1bb3a/av987fad6166ef2de39c3.jpeg'
   }">
  </app-responsive-design-card>
</div>


<div>
  <app-water-wave-text text="Сroissant"></app-water-wave-text>
  <app-water-wave-text text="Булочка" [reverse]="true"></app-water-wave-text>
</div>

<div>
  <app-vertical-opening-tooltip></app-vertical-opening-tooltip>
</div>
